/* MICHAEL CHANG */

.actions button {
  cursor: pointer;
  background-color: #7EC8E3;
  color: #000C66;
  border: 1px solid #7EC8E3;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
}

.actions button:hover,
.actions button:active {
  opacity: 0.8;
}
