/* MICHAEL CHANG & DANIEL LISKO */

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7EC8E3;
  padding: 0 0;
}

.logo {
  font-size: 2rem;
  color: #000C66;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000C66;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.logout {
  color: white;
  background-color: darkred;
  opacity: 1;
}

.logout:hover,
.logout:active,
.logout.active {
  background-color: palevioletred;
}
